<h1>Create your comment</h1>


<%= form_for [@post, @comment], html: { class: 'form-horizontal'} do |f| %>

<div>

  <%= f.label :body %>
  
  

  <%= f.text_area :body, rows: 8 %>
  




    <%= f.submit "Save", class: 'btn' %>
</div>
<%= end %>
