<h1>Topics</h1>

<div class="row">
  <div class="span8">
    <% @topics.each do |topic| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to topic.name, topic %>
          </h4>
          <small>
            <%= topic.description %> 
          </small><br>
          <small> <%= pluralize(topic.posts.count, 'post') %>. Most recent post submitted <%= time_ago_in_words(topic.posts.first.created_at)%> ago by: &nbsp; <strong><%= image_tag(topic.posts.first.user.avatar.tiny.url) if topic.posts.first.user.avatar? %>  <%= topic.posts.first.user.name %> </strong></small> 
        </div>
      </div>
    <% end %>
    <%= will_paginate @topics %>
  </div>
  <div class="span4">
    <% if can? :create, Topic %>
      <%= link_to "New Topic", new_topic_path, class: 'btn btn-info' %>
    <% end %>
  </div>
</div>