<%= form_for [topic, post], html: { class: 'form-horizontal' } do |f| %>
  <% if post.errors.any? %>
    <div class="alert alert-block">
      <h4>There are <%= pluralize(post.errors.count, "error") %>.</h4>
      <ul>
        <% post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= simple_form_for [topic, post] do |f| %>
    <%= f.input :title, error: false, required: false %>
    <%= f.input :body, input_html: { rows: 8 }, error: false, required: false %>
    <%= f.button :submit %>
  <% end %>
<% end %>