.container-fluid
  .container
    .row
      .nav.navbar.navbar-default{:role => "navigation"}
        .navbar-brand= link_to "Bloccit", root_path
        .navbar-text= link_to "About", about_path
        .navbar-text= link_to "Active Topics", topics_path
        .navbar-text= link_to "Popular Posts", posts_path
        .navbar-text= link_to "Top Users", users_path
        

        - if current_user
          - if current_user.has_avatar?
            .user-avatar.navbar-right= image_tag(current_user.avatar("small"), id: "img-rounded")
            %p.navbar-text.navbar-right= "&nbsp;Welcome #{link_to current_user.name_or_email, current_user}!".html_safe
            %button.btn.btn-default.navbar-btn.navbar-right{:type => "button"}= link_to "Settings", edit_user_registration_path
            %button.btn.btn-default.navbar-btn.navbar-right{:type => "button"}= link_to "Log out", destroy_user_session_path, method: :delete
    
        - else
          .navbar-text.navbar-right= link_to "Sign in", new_user_session_path
          .navbar-text.navbar-right= link_to "Sign up", new_user_registration_path
